#p1-display {
    color: green;
    font-size: 35px;
}

#p2-display {
    color: red;
    font-size: 35px;
}

#p3-display {
    color: blue;
    font-size: 35px;
}

#p4-display {
    color: black;
    font-size: 35px;
}

h1{
    color: gold;
    font-size:20px;
}
